@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
//  background-color: #F7F6E4;
}

.header {
  height: auto;
  background-color: #426768;
  // padding: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.icons li {
  display: inline;
}

.icons a {
  display: inline-block;
  padding: 2px;
  font-size: 16px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  color: #fafefb;
  display: inline-block;
  padding: 10px;
  font-family: Tenso;
  font-size: 20px;
  text-decoration: none;
}

.nav a:hover {
  color: #cdbe97;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 100px;
  top: 10px;
}

.icons a {
  color: #fafefb;
  font-size: 18px;
}

.icons a:hover {
  color: #016435;
}

.part1 {
  background: url(../image/starbuckshomepagenew.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 450px 500px 450px 500px;
}

// @media screen and (max-width: 380px) {

.content {
  margin-left: auto;
  margin-right: auto;
  height: auto;

  .text {
    text-align: center;
    padding: 40px 80px 40px 80px;
    background-color: lighten(#6EA1A2,10%);
    text-align: left;
    // padding: 20px;
    // margin-left: auto;
    // margin-right: auto;
    // position: relative;
     border-width: 10px;
    border-color: #426768;
    border-style: solid;
    // position: relative;
    // top: 200px;
    position: absolute;
     top: 59%;
     left: 50%;
     transform: translate(-50%, -50%);
  }
}

.text h1 {
  font-size: 40px;
  color: darken(#426768,10%);
  font-family: tenso;
  font-weight: bold;
  // margin-top: 20px;
  // margin-left: 20px;
}

.text h3 {
  font: 25px/30px tenso;
  color: #F7F6E4;
  margin-top: 20px;
}

.button {
  padding: 5px 5px;
  background: #426768;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 120px;
  height: 25px;
  margin-top: 25px;

  h3 {
    font-size: 16px;
    font-family: tenso;
    color: #fafefb;
    text-align: center;
    position: relative;
    bottom: 22px;
    // left: 5px;
  }
}

.button:hover {
  text-decoration: none;
  background: #cdbe97;
  color: #fafefb;
}

.sale {
//  background-color: #7a6a53;
  background-color: #877964;
  display: block;
  text-align:center;
  padding-top:30px;
  margin-left: auto;
  margin-right: auto;
  height: auto;

  .box {
    max-width: 250px;
    display: inline-block;
    margin: 50px 50px 80px 50px;
  
    .link{
        text-align:left;
      a{
        color: darken(#426768, 8%);
        text-decoration: none;
        font-size: 15px;
        font-family: tenso;
        font-weight: bold;
        margin-top: 20px;

      }
    }
    img {
      display: block;
      margin-left: auto;
      border-radius:150px;
      -webkit-filter: grayscale(0.25);
      filter: grayscale(0.25);
      margin-right: auto;
      width: 250px;
      height: 250px;
      margin-bottom:25px;
    }
    p {
      text-align:left;
      font-size: 25px;
      font-family: tenso;
      color: #426768;

    }
    h6 {
      font: 15px/20px tenso;
      text-align: left;
      margin-top: 30px;
    }
    .saletext {
//      text-align: center;
      color: #eee;
      height: 120px;
    }
  }
}

.socialandemail {
  clear: left;
  height: 50px;
  background-color: #877964;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  clear: left;
  height: 150px;
  background-color: #426768;
  margin-left: auto;
  margin-right: auto;
  li a {
    margin-top: 55px;
  }
}
// #comments{
//   float:right;
//   height: 400px;
//   width: 400px;
//   padding: 15px;
//   margin: 15px;
//   background-color:rgba(0,0,0,.15);
//   color:#eee;
// }

#comments article {
    padding: 21px;
    background: #F7F6E4;
    border: 2px solid #426768;
    margin-top: 20px;
    margin-bottom: 20px;
 
    /* Border-radius not implemented yet */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
  }
.communityimage {
      background: url(../image/starbucks_love.jpg) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 190px;
      padding-bottom: 190px;

}
.communitytile {
      
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 280px;
      background-color: lighten(#6EA1A2,10%);


    h1 {
      font-size: 45px;
      color: darken(#426768,10%);
      font-family: tenso;
      font-weight: bold;
      margin-top: 50px;
      margin-left: 20px;
    }
    h3 {
      font-size: 30px;
      color: #F7F6E4;
      font-family: tenso;
      margin-top: 20px;
      margin-left: 20px;
      }
}
#comments {
  margin: auto 0;
  padding: 50px 300px;
  background-color: lighten(#6EA1A2,10%);
  h3 {
    font-size: 25px;
    color: darken(#426768,10%);
    font-family: tenso;
    font-weight: bold;

    }
}
form {
  background-color:#877964 ;
  padding: 50px 300px 10px 300px;
  h3 { 
    font-size: 25px;
    color: darken(#426768,10%);
    font-family: tenso;
    font-weight: bold;
  }
  p {
    font-size:20px;
    color: #426768;
    font-family: tenso;
    margin-top: 30px;
    margin-bottom: 30px;


  }
}
.historytext {
    background-color: darken(#426768,20%);
    .image{
        background: url(../image/history_image.jpg) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        padding-top: 190px;
        padding-bottom: 190px;
      }


    h1 {
      font-size: 45px;
      color: darken(#F7F6E4,3%);
      font-family: tenso;
      font-weight: bold;
      margin-top: 50px;
      margin-left: 20px;
    }
    h3 {
      font-size: 30px;
      color: #6EA1A2;
      font-family: tenso;
      margin-top: 20px;
      margin-left: 20px;
      }
}
.title {
      padding: 50px 500px 50px 300px;
    }
.story {
      padding-left: 300px;
      padding-right: 500px;
      padding-bottom: 140px;
      h3 { 
          font-size: 25px;
          color: darken(#F7F6E4,3%);
          font-family: tenso;
          margin-top: 50px;



      }
}






// .clearfix:after {
//   visibility: hidden;
//   display: block;
//   font-size: 0;
//   content: " ";
//   clear: both;
//   height: 0;
// }
// .clearfix { display: inline-block; }
// /* start commented backslash hack \*/
// * html .clearfix { height: 1%; }
// .clearfix { display: block; }
// /* close commented backslash hack */