@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  
  display: block; 

}

body {

  line-height: 1; 

}

ol, ul {

  list-style: none; 

}

blockquote, q {

  quotes: none; 

}

table {

  border-collapse: collapse;
  border-spacing: 0; 

}

body {

  font-family: 'Helvetica', 'Arial', sans-serif;
  

}

.container {

  margin-right: auto;
  margin-left: auto; 
  background-color: #f26248;

}

.header {

  width: 80%;
  height: auto;
  background-color: #259f92 ;
  // padding: 20px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

}
 
.icons li {
  
  display: inline;

}

.icons a {

 display: inline-block;
 padding: 2px;
 font-size: 25px;

}

.nav {

  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; 

}
  .nav li {

    display: inline; 
  }

  .nav a {

    color: #fafefb;
    display: inline-block;
    padding: 10px;
    font-family: Tenso;
    font-size: 30px; 
    text-decoration: none;

  }

  .nav a:hover {

    color: #cdbe97;

  }

  .logo img {

    width: 100px;
    height: 100px; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 100px;
    top: 50px;

  }

  .icons a{

    color: #fafefb;
    font-size: 25px;
     
  }

  .icons a:hover {

      color: #016435;

  }

  // .mybag {

  //   font-size: 16px;
  //   color: #fafefb;
  //   font-family: Tenso;

  // }

  .search {

    padding: 5px;
    height: 20px;
    background-color: #fafefb;
    margin-left: 10px;
  
  }

  .part1 {
    
    width: 100%;
    height: 1500px;
    background: url(../image/homepageimage.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  }



// @media screen and (max-width: 380px) {

    


  .content {

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: #F0F0AF;
    
    // .part1, .part2, .part3 {

    // // padding-bottom: 20px;
    // // padding-top: 20px;
    // text-align: center;
    // // margin-top: 50px;

    .text {

      
      background: url(../image/colorful-starbucks_00005174.jpg) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 960px;
      height: 560px;
      background-color: #F0F0AF;
      text-align: left;
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 450px;

    }
    
    // }
  }

  .text h1 {

    font: 60px/65px bold Tenso;
    color: #332717;
  
  }

  .text h3 {

    font: 40px/45px tenso;
    color: #332717;
    margin-top: 50px;
    
  }

.button {
 
   padding: 15px 10px;
   background: #259f92;
   color: #332717;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   width: 180px;
   height: 40px;
   font-size: 25px;
   font-family: tenso;
   position: relative;
   top: 50px;

}

.button:hover {

   text-decoration: none;
   background: #cdbe97;
   color: #fff;

}

.sale {

  display: inline-block;
  width: 100%;
  // min-height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 150px;

}

.box {

    background: url(../image/coffecups.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}

.box1 {

    background: url(../image/colorfulstarbucks2.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;


}

.box2 {

    background: url(../image/thumb.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;


}


.box3 {

    background: url(../image/lovestarbucks.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}

.box, .box1, .box2, .box3 {

  width: 550px;
  height: 400px;
  display: inline-block;
  background-color: #F0F0AF;
  // padding: 20px;
  margin-left: 50px;
  margin-top: 50px;
  
  P {

    font-size: 40px;
    font-family: tenso;
    color: #332717;
  }

}


.socialandemail {

  width: 80%;
  background-color: #F0F0AF;
  margin-left: auto;
  margin-right: auto;

}

.footer {

  width: 80%;
  height: 300px;
  background-color: #259f92;
  margin-left: auto;
  margin-right: auto;

  li a {
  
  margin-top: 100px;
    
  
  }


}













  












