html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Helvetica', 'Arial', sans-serif; }

.container {
  margin-right: auto;
  margin-left: auto; }

.header {
  height: auto;
  background-color: #426768;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

.icons li {
  display: inline; }

.icons a {
  display: inline-block;
  padding: 2px;
  font-size: 16px; }

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.nav li {
  display: inline; }

.nav a {
  color: #fafefb;
  display: inline-block;
  padding: 10px;
  font-family: Tenso;
  font-size: 20px;
  text-decoration: none; }

.nav a:hover {
  color: #cdbe97; }

.logo img {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 100px;
  top: 30px; }

.icons a {
  color: #fafefb;
  font-size: 18px; }

.icons a:hover {
  color: #016435; }

.part1 {
  background: url(../image/starbuckshomepagenew.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 450px 500px 450px 500px; }

.content {
  margin-left: auto;
  margin-right: auto;
  height: auto; }
  .content .text {
    text-align: center;
    padding: 40px 80px 40px 80px;
    background-color: #8db5b6;
    text-align: left;
    border-width: 10px;
    border-color: #426768;
    border-style: solid;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%); }

.text h1 {
  font-size: 40px;
  color: #2e4849;
  font-family: tenso;
  font-weight: bold; }

.text h3 {
  font: 25px/30px tenso;
  color: #F7F6E4;
  margin-top: 20px; }

.button {
  padding: 5px 5px;
  background: #426768;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 120px;
  height: 25px;
  margin-top: 25px; }
  .button h3 {
    font-size: 16px;
    font-family: tenso;
    color: #fafefb;
    text-align: center;
    position: relative;
    bottom: 22px; }

.button:hover {
  text-decoration: none;
  background: #cdbe97;
  color: #fafefb; }

.sale {
  background-color: #877964;
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: auto; }
  .sale .box {
    max-width: 250px;
    display: inline-block;
    margin: 50px 50px 80px 50px; }
    .sale .box .link {
      text-align: left; }
      .sale .box .link a {
        color: #324e4f;
        text-decoration: none;
        font-size: 15px;
        font-family: tenso;
        font-weight: bold;
        margin-top: 20px; }
    .sale .box img {
      display: block;
      margin-left: auto;
      border-radius: 150px;
      -webkit-filter: grayscale(0.25);
      filter: grayscale(0.25);
      margin-right: auto;
      width: 250px;
      height: 250px;
      margin-bottom: 25px; }
    .sale .box p {
      text-align: left;
      font-size: 25px;
      font-family: tenso;
      color: #426768; }
    .sale .box h6 {
      font: 15px/20px tenso;
      text-align: left;
      margin-top: 30px; }
    .sale .box .saletext {
      color: #eee;
      height: 120px; }

.socialandemail {
  clear: left;
  height: 50px;
  background-color: #877964;
  margin-left: auto;
  margin-right: auto; }

.footer {
  clear: left;
  height: 150px;
  background-color: #426768;
  margin-left: auto;
  margin-right: auto; }
  .footer li a {
    margin-top: 55px; }

#comments article {
  padding: 21px;
  background: #F7F6E4;
  border: 2px solid #426768;
  margin-top: 20px;
  margin-bottom: 20px;
  /* Border-radius not implemented yet */
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px; }

.communityimage {
  background: url(../image/starbucks_love.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 190px;
  padding-bottom: 190px; }

.communitytile {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  background-color: #8db5b6; }
  .communitytile h1 {
    font-size: 45px;
    color: #2e4849;
    font-family: tenso;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 20px; }
  .communitytile h3 {
    font-size: 30px;
    color: #F7F6E4;
    font-family: tenso;
    margin-top: 20px;
    margin-left: 20px; }

#comments {
  margin: auto 0;
  padding: 50px 300px 50px 100px;
  background-color: #8db5b6; }
  #comments h3 {
    font-size: 25px;
    color: #2e4849;
    font-family: tenso;
    font-weight: bold; }

form {
  background-color: #F7F6E4;
  padding: 50px 300px 10px 100px; }
  form h3 {
    font-size: 25px;
    color: #2e4849;
    font-family: tenso;
    font-weight: bold; }
  form p {
    font-size: 20px;
    color: #426768;
    font-family: tenso;
    margin-top: 30px;
    margin-bottom: 30px; }

.historytext {
  background-color: #F7F6E4; }
  .historytext .image {
    background: url(../image/history_image.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 190px;
    padding-bottom: 190px; }
  .historytext h1 {
    font-size: 45px;
    color: #2e4849;
    font-family: tenso;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 20px; }
  .historytext h3 {
    font-size: 30px;
    color: #568687;
    font-family: tenso;
    margin-top: 20px;
    margin-left: 20px; }

.title {
  padding: 50px 300px 50px 100px; }

.story {
  padding-left: 100px;
  padding-right: 300px;
  padding-bottom: 140px; }
  .story h3 {
    font-size: 20px;
    color: #2e4849;
    font-family: tenso;
    margin-top: 50px; }

.coffeeimage {
  background: url(../image/coffee.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 190px;
  padding-bottom: 190px; }

.coffeetile, .coffeeslection {
  padding: 50px 300px 50px 100px;
  background-color: #5b5243; }
  .coffeetile h1, .coffeeslection h1 {
    font-size: 45px;
    color: #f4f2d8;
    font-family: tenso;
    font-weight: bold; }
  .coffeetile h3, .coffeeslection h3 {
    font-size: 25px;
    color: #b5ab9c;
    font-family: tenso;
    margin-top: 50px; }

.coffeeslection h1 {
  font-size: 25px;
  color: #f4f2d8;
  font-family: tenso; }

.roast {
  padding: 70px 100px 70px 100px;
  background-color: #F7F6E4;
  margin-top: 50px;
  margin-bottom: 50px; }

.coffeetext {
  padding: 30px 30px 30px 30px;
  background: #3e372e; }

/*# sourceMappingURL=style.css.map */
