@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
//  background-color: #F7F6E4;
}

.header {
  height: auto;
  background-color: #6EA1A2;
  // padding: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.icons li {
  display: inline;
}

.icons a {
  display: inline-block;
  padding: 2px;
  font-size: 16px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  color: #fafefb;
  display: inline-block;
  padding: 10px;
  font-family: Tenso;
  font-size: 20px;
  text-decoration: none;
}

.nav a:hover {
  color: #cdbe97;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 100px;
  top: 10px;
}

.icons a {
  color: #fafefb;
  font-size: 18px;
}

.icons a:hover {
  color: #016435;
}

.part1 {
  height: 750px;
  background: url(../image/starbuckshomepagenew.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// @media screen and (max-width: 380px) {

.content {
  margin-left: auto;
  margin-right: auto;
  height: auto;

  .text {
    text-align: center;
    width: 360px;
    height: 230px;
    background-color: #F7F6E4;
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-width: 10px;
    border-color: #6EA1A2;
    border-style: solid;
    position: relative;
    top: 170px;
  }
}

.text h1 {
  font-size: 35px;
  color: #6EA1A2;
  font-kerning: tenso;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.text h3 {
  font: 20px/25px tenso;
  color: #6EA1A2;
  margin-top: 20px;
  margin-left: 20px;
}

.button {
  padding: 5px 5px;
  background: #6EA1A2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 120px;
  height: 25px;
  margin-top: 25px;
  margin-left: 20px;
  h3 {
    font-size: 16px;
    font-family: tenso;
    color: #fafefb;
    position: relative;
    bottom: 20px;
    right: 10px;
  }
}

.button:hover {
  text-decoration: none;
  background: #cdbe97;
  color: #fafefb;
}

.sale {
//  background-color: #7a6a53;
  background-color: #877964;
  display: block;
  text-align:center;
  padding-top:30px;
  margin-left: auto;
  margin-right: auto;
  height: auto;

  .box {
    max-width: 250px;
    display: inline-block;
    margin: 25px;
    .link{
      text-align:left;
      a{
        color:white;
        text-decoration: none;
      }
    }
    img {
      display: block;
      margin-left: auto;
      border-radius:150px;
      -webkit-filter: grayscale(0.25);
      filter: grayscale(0.25);
      margin-right: auto;
      width: 250px;
      height: 250px;
      margin-bottom:25px;
    }
    p {
      text-align:left;
      font-size: 20px;
      font-family: tenso;
      //    color: #6EA1A2;
      a {
        font-size: 20px;
//        text-align:center;
        font-family: tenso;
        color: #fafefb;
      }
    }
    h6 {
      font: 15px/20px tenso;
      text-align: left;
      //    color: #6EA1A2;
    }
    .saletext {
//      text-align: center;
      color: #eee;
      height: 120px;
    }
  }
}

.socialandemail {
  clear: left;
  height: 50px;
  background-color: #877964;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  clear: left;
  height: 150px;
  background-color: #6EA1A2;
  margin-left: auto;
  margin-right: auto;
  li a {
    margin-top: 55px;
  }
}
#comments{
  float:right;
  height: 400px;
  width: 400px;
  padding: 15px;
  margin: 15px;
  background-color:rgba(0,0,0,.15);
  color:#eee;
}

.community {

  background: url(../image/starbucks_love.jpg) no-repeat center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 560px;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */