html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: tenso, sans-serif;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Helvetica', 'Arial', sans-serif; }

.container {
  margin-right: auto;
  margin-left: auto; }

.icons li {
  display: inline-block; }

.icons a {
  display: inline-block;
  padding: 2px;
  font-size: 16px; }

.header {
  background-color: #426768;
  padding-top: 30px; }

nav {
  vertical-align: bottom;
  text-align: center; }

nav ul li {
  display: inline-block; }

nav a {
  color: #fafefb;
  vertical-align: bottom;
  display: inline-table;
  padding: 10px;
  font-family: Tenso;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 30px; }

nav a:hover {
  color: #cdbe97; }

.logo {
  height: 80px;
  width: 80px; }

.logo a {
  color: #fafefb;
  font-size: 18px; }

.logo a:hover {
  color: #016435; }

.part1 {
  background: url(../image/starbuckshomepagenew.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 70px; }

.part1 .text {
  display: inline-block;
  max-width: 400px;
  margin: 200px auto;
  text-align: left;
  padding: 50px 50px;
  background-color: rgba(66, 103, 104, 0.9);
  border-width: 5px;
  border-color: #F7F6E4;
  border-style: solid;
  position: relative;
  bottom: 20px; }

.part1 .text .button {
  margin-left: auto;
  margin-right: auto; }

.content {
  margin-left: auto;
  margin-right: auto;
  height: auto; }

.text h1 {
  font-size: 40px;
  color: #F7F6E4;
  font-family: tenso;
  font-weight: bold; }

.text h3 {
  font: 25px/30px tenso;
  color: white;
  margin-top: 20px; }

.button {
  padding: 5px 5px;
  background: #243939;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 120px;
  height: 25px;
  margin-top: 25px;
  text-align: left; }

.button h3 {
  font-size: 16px;
  font-family: tenso;
  color: #fafefb;
  text-align: center;
  position: relative;
  bottom: 22px; }

.button:hover {
  text-decoration: none;
  background: #cdbe97;
  color: #fafefb; }

.sale {
  background-color: #F7F6E4;
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: auto; }

.sale .box {
  max-width: 250px;
  display: inline-table;
  padding: 25px;
  margin: 15px auto;
  text-align: left;
  font-family: tenso, sans-serif; }

.sale .box img {
  display: block;
  margin-left: auto;
  border-radius: 150px;
  -webkit-filter: grayscale(0.25);
  filter: grayscale(0.25);
  margin-right: auto;
  width: 250px;
  height: 250px;
  margin-bottom: 25px; }

.sale .box .box-title {
  text-align: left;
  font-size: 25px;
  color: #426768;
  min-height: 50px; }

.sale .box .box-main-text {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  padding-bottom: 5px;
  color: #877964; }

.sale .box a.shop-now-link {
  color: #324e4f;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold; }

.socialandemail {
  padding: 15px 0;
  background-color: #877964;
  width: 100%;
  text-align: center; }

.socialandemail .socialmedia {
  display: inline-block; }

.socialandemail .socialmedia a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin-left: 30px; }

.footer {
  clear: left;
  background-color: #426768;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }

#community-content {
  background-color: #F7F6E4;
  padding-bottom: 100px; }

#community-content .row, .community-title {
  padding: 0 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

#comments article {
  padding: 21px;
  background: #F7F6E4;
  border: 2px solid #426768;
  margin-top: 20px;
  margin-bottom: 20px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px; }
  #comments article header a {
    font-size: 19px;
    color: #2e4849;
    font-family: tenso; }
  #comments article p {
    font-size: 19px;
    color: #2e4849;
    font-family: tenso; }

time {
  font-size: 15px;
  color: #2e4849;
  font-family: tenso; }

.community-title {
  margin-top: 50px;
  font-size: 25px;
  color: #2e4849;
  font-family: tenso;
  font-weight: bold; }

.communityimage {
  background: url(../image/starbucks_love.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 190px;
  padding-bottom: 190px; }

.communitytile {
  margin-top: 100px;
  padding-bottom: 50px;
  padding-left: 100px; }

.communitytile h1 {
  font-size: 45px;
  color: #2e4849;
  font-family: tenso;
  font-weight: bold;
  margin-top: 100px; }

.communitytile h3 {
  font-size: 30px;
  color: #568687;
  font-family: tenso;
  margin-top: 20px;
  margin-bottom: 20px; }

#comments {
  margin: auto 0;
  background-color: #F7F6E4; }

#comments h3 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #2e4849;
  font-family: tenso;
  font-weight: bold; }

form {
  background-color: #f7f6e4;
  border: 2px solid #426768;
  margin-top: 20px;
  padding-bottom: 50px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px; }

form h3 {
  font-size: 25px;
  color: #2e4849;
  font-family: tenso;
  font-weight: bold; }

form p {
  font-size: 20px;
  color: #426768;
  font-family: tenso; }

.historytext {
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F6E4;
  padding-bottom: 100px;
  padding-top: 50px; }

.historytext .image {
  background: url(../image/history_image.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 190px;
  padding-bottom: 190px;
  position: relative;
  bottom: 50px; }

.historytext .title h1 {
  font-size: 45px;
  color: #2e4849;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 120px; }

.historytext h3 {
  font-size: 30px;
  color: #568687;
  margin-top: 50px;
  margin-left: 20px;
  padding-bottom: 50px; }

.historytext .title h3 {
  margin-left: 120px; }

.title {
  padding: 0 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.story {
  padding: 0 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.story h3 {
  font-size: 20px;
  color: #2e4849;
  margin-top: 50px; }

.year {
  font-size: 28px;
  color: #2e4849;
  font-weight: bold;
  margin-top: 5px; }

.coffeeimage {
  background: url(../image/coffee.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 190px;
  padding-bottom: 190px; }

.coffeetile {
  text-align: left; }

.coffeetile h1 {
  font-size: 45px;
  color: #2e4849;
  font-weight: bold;
  padding-top: 100px; }

.coffeetile h3 {
  font-size: 25px;
  color: #568688;
  padding-top: 50px;
  padding-bottom: 50px; }

.coffeeslection h1 {
  font-size: 30px;
  color: #2e4849;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px; }

#coffee-content {
  background-color: #F7F6E4; }

#coffee-content .row {
  padding: 0 15px;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }

#community-content {
  background-color: #F7F6E4; }

#community-content .row {
  padding: 0 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

#coffeelistcheck .coffee-list-container .coffee-list-row {
  margin-top: 20px;
  height: 300px; }

#coffeelistcheck .coffee-list-container .coffee-list-row .coffee-list-image {
  float: left;
  height: 100%; }

#coffeelistcheck .coffee-list-container .coffee-list-row .coffee-list-image.right {
  float: right;
  border-radius: 0 15px 15px 0; }

#coffeelistcheck .coffee-list-container .coffee-list-row .coffee-list-items {
  border-radius: 0 15px 15px 0;
  background-color: white;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center; }

#coffeelistcheck .coffee-list-container .coffee-list-row .coffee-list-items .coffee-list-item {
  padding: 5px;
  white-space: normal;
  height: 100%;
  display: inline-table;
  width: 300px; }
  #coffeelistcheck .coffee-list-container .coffee-list-row .coffee-list-items .coffee-list-item .text-center {
    margin: 15px;
    font-size: 20px;
    font-family: tenso;
    color: #2e4849; }
  #coffeelistcheck .coffee-list-container .coffee-list-row .coffee-list-items .coffee-list-item p {
    font-size: 15px;
    font-family: tenso;
    color: #2e4849;
    margin: 10px;
    text-align: left; }

.coffee-list-item img {
  margin-right: auto;
  margin-left: auto; }

#coffeelistcheck .coffee-list-container .coffee-list-row .coffee-list-items .coffee-list-item img {
  text-align: center;
  height: 125px;
  width: 125px;
  border-radius: 50%; }

.coffee-list-container {
  padding-bottom: 100px; }

.coffee-list-row {
  padding-bottom: 50px; }

.teaimage {
  background: url(../image/tea.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 190px;
  padding-bottom: 190px; }

.teatile {
  text-align: left; }

.teatile h1 {
  font-size: 45px;
  color: #2e4849;
  font-weight: bold;
  padding-top: 100px; }

.teatile h3 {
  font-size: 25px;
  color: #426768;
  padding-top: 50px;
  padding-bottom: 50px; }

.teatext {
  margin-top: 100px; }
  .teatext p {
    font-size: 19px;
    color: #2e4849;
    line-height: -10px; }

.teatext .image-row {
  text-align: center; }

.teatext img {
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 150px;
  -webkit-filter: grayscale(0.25);
  filter: grayscale(0.25);
  width: 250px;
  height: 250px;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 50px;
  margin-bottom: 50px; }

.teaslection {
  margin-top: 50px; }

.teaslection h1 {
  font-size: 45px;
  color: #2e4849;
  font-weight: bold;
  padding-top: 20px; }

.teaslection h3 {
  font-size: 25px;
  color: #426768;
  padding-bottom: 50px;
  padding-top: 50px; }

#tea-content {
  background-color: #F7F6E4; }

#tea-content .row {
  padding: 0 15px;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }

#community-content {
  background-color: #F7F6E4; }

#community-content .row {
  padding: 0 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

#tealistcheck .tea-list-container .tea-list-row {
  margin-top: 20px;
  height: 300px; }

#tealistcheck .tea-list-container .tea-list-row .tea-list-image {
  float: left;
  height: 100%;
  width: 355px; }

#tealistcheck .tea-list-container .tea-list-row .tea-list-image.right {
  float: right;
  border-radius: 0 15px 15px 0;
  position: relative; }

.tea-list-item img {
  margin-left: auto;
  margin-right: auto; }

#tealistcheck .tea-list-container .tea-list-row .tea-list-items {
  border-radius: 0 15px 15px 0;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  background-color: white; }
  #tealistcheck .tea-list-container .tea-list-row .tea-list-items .text-center {
    margin: 15px;
    font-size: 20px;
    font-family: tenso;
    color: #2e4849; }
  #tealistcheck .tea-list-container .tea-list-row .tea-list-items p {
    font-size: 15px;
    font-family: tenso;
    color: #2e4849;
    margin: 10px;
    text-align: left; }

#tealistcheck .tea-list-container .tea-list-row .tea-list-items .tea-list-item {
  padding: 5px;
  white-space: normal;
  height: 100%;
  display: inline-table;
  width: 300px; }

#tealistcheck .tea-list-container .tea-list-row .tea-list-items .tea-list-item img {
  text-align: center;
  height: 125px;
  width: 125px;
  border-radius: 50%; }

.tea-list-container {
  padding-bottom: 100px; }

.tea-list-row {
  padding-bottom: 50px; }

.center {
  margin-left: auto;
  margin-right: auto; }

.float-left {
  float: left; }

.text-center {
  text-align: center; }

.article {
  position: relative; }

.article > :first-child {
  position: absolute;
  left: 2%; }

.article :nth-child(2) {
  margin-left: 100px; }

/*# sourceMappingURL=style.css.map */
